{% load static %}
<link rel="stylesheet" href="{% static 'app/css/product_card.css' %}">

<article class="product-card">
  <a href="{% url 'productdetail' product.id %}" style="text-decoration:none; color:inherit;">
    <div class="card-image">
      {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-img">
      {% else %}
        <img src="{% static 'image/placeholder.jpg' %}" alt="No image" class="product-img">
      {% endif %}

      <!-- Badge Row -->
      <div class="badge-row">
        <div class="badge-left">
          {% for cert in product.certifications.all %}
            <span class="badge-tag cert-badge"
                  style="background: {{ cert.style_colors.bg }};
                         color: {{ cert.style_colors.text }};
                         border: 1px solid {{ cert.style_colors.border }};">
              {{ cert.name }}
            </span>
          {% endfor %}
        </div>

        <div class="badge-right">
          {% if product.sale %}
            <span class="badge-tag sale">Sale {{ product.discount_percentage|floatformat:0 }}%</span>
          {% endif %}
        </div>
      </div>


      <button class="wishlist-btn"
                data-id="{{ product.id }}"
                data-name="{{ product.name }}"
                data-image="{% if product.image %}{{ product.image.url }}{% else %}{% static 'image/placeholder.jpg' %}{% endif %}"
                data-price="{% if product.sale %}{{ product.final_price|floatformat:2 }}{% else %}{{ product.price|floatformat:2 }}{% endif %}">
          <i class="lni lni-heart"></i>
        </button>
    </div>

    <div class="card-info">
      <h3 class="product-name">{{ product.name }}</h3>
      <!-- Heart Button -->
        

      <div class="product-nutrients">
        {% if product.calories %}
          <span class="nutrient">{{ product.calories }} cal</span>
        {% endif %}
        {% if product.protein %}
          <span class="nutrient">{{ product.protein }}g protein</span>
        {% endif %}
      </div>

      <form method="post" action="{% url 'add_to_cart' product.id %}" class="add-to-cart-form">
        {% csrf_token %}
        <input type="hidden" name="quantity" value="1">

        <button class="btn-add-cart" type="submit">
          <span class="btn-text">Add</span>
          <span class="btn-price">
            {% if product.sale %}
              ${{ product.final_price|floatformat:2 }}
            {% else %}
              ${{ product.price|floatformat:2 }}
            {% endif %}
          </span>
        </button>
      </form>
    </div>
  </a>
</article>


